#########################################################################################
#                               Flareon Configuration File                              #
#########################################################################################

# 1. DIRPATH:
#    DIRPATH is the path where your markdown files are located. New files will be saved
#    in this directory as well, so make sure you write a valid path.
# 
# 2. ACCESS_TOKEN:
#    Dropbox Access Token. You must get your own token from dropbox.com. Read README.md
#    for further detail.
#
# 3. TEMPORARY_DIR:
#    Name of the directory that Flareon updates files prior to saving article. This
#    process is necessary because you want to get your global flie link address when
#    writing a rough draft. 'Temporary' (by deafult) would be just fine. This directory
#    will be automatically renamed to secured folder name when you successfully saves
#    the Markdown file.
#
# 4. ROOT_DIR:
#    Name of the root directory in your actual dropbox cloud. Flareon will create a
#    directory according to its value, and starts storing every data here. Please be
#    be notified that sudden change of this directory might cause loss of data.



DIRPATH = ./

ACCESS_TOKEN = ADDRESS

TEMPORARY_DIR = Temporary

ROOT_DIR = Flareon